backend/node_modules/
backend/.env
backend/.DS_Store
backend/npm-debug.log*

.env
.env.local
.env.*.local
.idea/
.vscode/

android/.gradle/
android/local.properties
android/.idea/
android/build/
android/app/build/
android/*.iml
android/app/*.iml
